.task {
  padding: 5px 10px;
  margin-bottom: 10px;
  width: 300px;
  cursor: pointer;
}

.default {
  /*background: none;*/
  border: 5px solid white;
}

.selected {
  border: 5px solid blue;
}

.highPriority {
  background: rgb(251, 166, 117);
}

.title {
  text-decoration-line: line-through;
}